In [1]:
import pathlib

model_data_path = pathlib.Path("model_data").resolve()
db_path = pathlib.Path("../staffing.db").resolve()

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine(f"sqlite:///{db_path}")

In [3]:
query = """
SELECT id as shift_id, staff_count
FROM shifts
WHERE start_time BETWEEN '2023-04-01T00:00:00Z' and '2023-05-30T00:00:00Z'
"""

with engine.connect() as connection:
    staff_required = pd.read_sql(text(query), connection, index_col="shift_id")

staff_required.to_feather(model_data_path / "staff_required.feather")

In [4]:
staff_required.sample(4)

          staff_count
shift_id
5                   4
21                  1
26                  1
16                  1