In [1]:
import pathlib

model_data_path = pathlib.Path("model_data").resolve()
db_path = pathlib.Path("../staffing.db").resolve()

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine(f"sqlite:///{db_path}")

In [3]:
query = """
SELECT
    s1.id as shift1_id,
    s2.id as shift2_id,
    staff.id as staff_id
FROM shifts s1
INNER JOIN shifts s2
INNER JOIN staff
ON s2.start_time >= s1.start_time
AND s2.start_time <= s1.end_time
AND s1.id < s2.id
"""

with engine.connect() as connection:
    shift_conflicts = pd.read_sql(text(query), connection)

shift_conflicts.to_feather(model_data_path / "shift_conflicts.feather")

In [4]:
shift_conflicts.sample(4)

    shift1_id  shift2_id  staff_id
14          2         16     60126
47          6         20     60131
45          6         20     60129
74         10         24     60130